/*Props to: https://codepen.io/ibrahimjabbari/pen/ozinB*/
*{font-family:sans-serif;}


hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.inputs {
	border-radius: 10px;
	box-shadow: 0px 10px 6px -6px #777;
	padding-bottom: 5px;
	padding-left: 10px;
	border: 0.1rem solid gray;
	background-color: rgba(250, 250, 250);
	margin-bottom: 20px;
}

.table-element{
	color: black;
	padding: 20px;
	border-radius: 5px;
	text-decoration:none;
	margin-top: 20px;
}

.table-element:hover {
	background-color: rgba(226, 248, 252, 1);
	
}

.table-element span {
    display:inline-block;
    padding-bottom:5px;
    text-align: center;
    width:100%;
}

.table-element a {
	text-decoration:none;
	color: black;
}

