/*Props to: https://codepen.io/ibrahimjabbari/pen/ozinB*/
*{font-family:sans-serif;}


hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.header {
	border-bottom: 1px solid lightgray;
	margin-bottom: 10px;
	font-size: 30px;
}

.name {
	margin-bottom: 10px;
	font-size: 21px;
	color: rgba(18, 88, 112);
}


.inputs {
	border-radius: 10px;
	box-shadow: 0px 20px 6px -6px #777;
	padding-bottom: 5px;
	padding-left: 10px;
	border: 0.13rem solid gray;
	background-color: rgba(250, 250, 250);
	margin-bottom: 20px;
	padding: 10px;
	padding-left: 20px;
	padding-bottom: 20px;
}

.inputs button {
    border-radius: 10px;
    border: 0.1rem dotted grey;
}


.link a#return{
    border-radius: 10px;
    border: 0.1rem dotted grey;
    background-color: lightgray;
    text-decoration: none;
    color: black;
    padding: 5px;
}

span.type {
	float: right;
	margin-right: 10px;
}

.table-element{
	color: black;
	padding: 20px;
	border-radius: 5px;
	text-decoration:none;
	margin-top: 20px;
	text-align: center
;}

.table-element:hover {
	background-color: rgba(226, 248, 252, 1);
	
}

.reset {
	padding-top: 10px;
}

.reset a {
	border: 0.1rem dotted grey;
    border-radius: 10px;
	background-color: rgba(240, 240, 240);
    text-decoration: none;
    color: rgba(80, 80, 80);
    padding-left: 10px;
    padding-right: 10px;
}
.reset a:hover {
	background-color: rgba(250, 250, 250);
}

.table-element span {
    display:inline-block;
    padding-bottom:5px;
    text-align: center;
    width:100%;
}

.data a {
	color: black;
	text-decoration: none;
}

.pages span {
	color: blue;
	cursor: pointer;
}
