body {
  font: normal 18px/100% "Georgia Serif", Georgia, serif;
  background-color: rgba(31, 45, 96, 1);

  margin: 6; 
}

#header {
	text-align: center;
	float: left;
	width: 25%;
	height: 100%;
	padding-top: 10%;
	background-color: rgba(31, 45, 96, 1);
	color: white;
}

#tool-loader {
	margin: 10%;
	padding: 10%;
	width: 50%;
}

#form-area {
	background-color: rgba(224, 237, 252, 1);
	color: black;
	padding-left: 28%;
	height: 100%;
}

#form-area button {
	margin: 10%;
	text-align: center;
	padding: 5%;
	padding-left: 15%;
	padding-right: 15%;

}