*{font-family:sans-serif;}


body {
  font: sans-serif;
  margin: 6; 
}

#header {
	text-align: center;
	font-size: 25px;
	float: left;
	width: 35%;
	height: 100%;
	padding-top: 10%;
}

#tool-loader {
	margin: 10%;
	padding: 10%;
	width: 50%;
}

#form-area {
	color: black;
	padding-left: 28%;
	height: 100%;
}

#form-area button {
	margin: 10%;
	text-align: center;
	padding: 5%;
	padding-left: 15%;
	padding-right: 15%;

}