*{font-family:sans-serif;}


body {
  font: sans-serif;
  margin: 6; 
}

#signin {
	text-align: left;
	padding-left: 30px;
}

.top {
	border-radius: 10px;
	box-shadow: 0px 20px 6px -6px #777;
	padding-bottom: 5px;
	padding-left: 10px;
	border: 0.13rem solid gray;
	background-color: rgba(250, 250, 250);
	margin-bottom: 20px;
	padding: 10px;
	padding-left: 20px;
	padding-bottom: 20px;
}


#header {
	display: none;
}